* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: #f0f2f5;
}

.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.left {
    max-width: 500px;
}

.logo {
    color: #1877f2;
    font-size: 60px;
    font-weight: bold;
}

.subtitle {
    font-size: 24px;
    margin-top: 20px;
    color: #1c1e21;
}

.right {
    text-align: center;
}

.card {
    background: #fff;
    padding: 20px;
    width: 360px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card input {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

.button  {
    padding: 14px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
    cursor: default;
}

.login {
    background-color: #1877f2;
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.create {
    background: #42b72a;
}

.forgot {
    color: #1877f2;
    font-size: 14px;
    margin-bottom: 16px;
}

.line {
    height: 1px;
    background: #dadde1;
    margin: 20px 0;
}

.footer-text {
    margin-top: 20px;
    font-size: 14px;
    color: #1c1e21;
}
